.bmi-info-container {
  text-align: center;
}

.bmi-homepage-img {
  margin-left: 80px;
}

.bmi-info-paragraph {
  margin-left: 130px;
  font-size: 20px;
}

.bmi-homepage-header {
  margin-left: 130px;
}