.chest-card-slider-btn-prev,
.chest-card-slider-btn-next {
  margin-top: 40px;
  height: 50px;
  width: 25%;
  background-color: #333;
  border: none;
  font-size: 24px;
  color: white;
  border-radius: 10px;
}

.chest-card-slider-btn-prev:hover,
.chest-card-slider-btn-next:hover {
  background-color: rgba(242, 239, 239, 0.5);
  color: rgba(10, 10, 10, .5);
  font-size: 26px;
}

.chest-prev,
.chest-next {
  margin-top: 40px;
  height: 50px;
  width: 45%;
  background-color:  #333;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
}

.chest-prev:hover,
.chest-next:hover {
  background-color: rgba(242, 239, 239, 0.5);
  color: rgba(10, 10, 10, .5);
  font-size: 26px;
}

#chest-nav-tabs {
  background-color: #333;
  color: white;
}

#chest-container {
  background-color: rgba(242, 239, 239, 0.5);
  margin-bottom: 100px;
  margin-top: 100px;
}

.chest-nav-link {
  background-color: #333;
  border: 1px solid white;
}